.navbar {
    margin-bottom: 0;
    background-color: purple;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: purple !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


.bg-grey {
    background-color: #f6f6f6;
}

.bg-purple {
    background-color: lavender;
}

.jumbotron {
    background-image: url('../images/regal.png');
    color: purple;
    padding: 200px 25px;
}


.container-fluid {
    padding: 60px 50px;
}

